* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #1261f386;
}

header {
    background-color: #333333;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1261f386;
}

.animation-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #1261f31a;
    width: 0;
    transition: all 0.3s ease;
}

nav ul li:hover ~ .animation-line {
    width: 100%;
}

nav ul li:hover a {
    color: #1261f386;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1, h2, h4 {
    text-align: center;
    margin-bottom: 20px;
}

.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.skill-icon, .contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10%;
}

.project-card {
    background-color: #e0e0e0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.project-card h3 a {
    color: #1261f386;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-card h3 a:hover {
    color: #333;
}

#contact a {
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #1261f386; 
}

.fade-in {
    opacity: 0; /* Comienza invisible */
    transition: opacity 0.5s ease-in-out; /* Transición suave */
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
}